In [1]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup

# Install selenium because we are dealing with Javascript encoded website for players data

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from sklearn.preprocessing import StandardScaler

driver = webdriver.Chrome(ChromeDriverManager().install())

/var/folders/3f/7yyndr2s1xsd15b1kh2vc2k00000gn/T/ipykernel_65642/2620057919.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [2]:
adv_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_advanced.html"
url = adv_stats_url.format(2023)
data = requests.get(url)
with open("NBA_playerdata_Tableau/per2023.html", "w+") as f:
    f.write(data.text)

In [3]:
import time

year = 2023
url = adv_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)") # Java script windowscroll - scroll the page down and grab the data 
time.sleep(2)

html= driver.page_source

In [4]:
with open ("NBA_playerdata_Tableau/{}.html".format(year), "w+") as f: 
    f.write(html)

In [10]:
df = []

year= 2023

with open ("NBA_playerdata_Tableau/{}.html".format(year)) as f:
    page = f.read()

soup = BeautifulSoup(page, "html.parser")
soup.find('tr', class_ = "thead").decompose()  
adv_table = soup.find(id="advanced_stats")
adv = pd.read_html(str(adv_table))[0]
adv["Year"] = year


df.append(adv)

In [25]:
per = pd.concat(df)

In [26]:
per.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Year
0,1,Precious Achiuwa,C,23,TOR,39,896,15.0,.546,.249,...,0.6,1.0,1.6,.088,NaN,-1.6,-1.0,-2.6,-0.1,2023
1,2,Steven Adams,C,29,MEM,42,1133,17.6,.564,.004,...,1.3,2.2,3.5,.146,NaN,-0.3,0.9,0.6,0.8,2023
2,3,Bam Adebayo,C,25,MIA,57,1997,20.7,.587,.013,...,2.8,3.3,6.0,.145,NaN,0.9,1.0,1.9,2.0,2023
3,4,Ochai Agbaji,SG,22,UTA,40,629,9.3,.612,.624,...,0.8,0.2,1.0,.076,NaN,-1.2,-1.2,-2.4,-0.1,2023
4,5,Santi Aldama,PF,22,MEM,57,1247,14.6,.596,.529,...,1.8,2.0,3.8,.145,NaN,0.0,1.3,1.3,1.0,2023

In [35]:
per.to_csv("advanced.csv")

In [16]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"
url = player_stats_url.format(2023)
data = requests.get(url)
with open("NBA_playerdata_Tableau/2023.html", "w+") as f:
    f.write(data.text)

In [17]:
import time

year = 2023
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)") # Java script windowscroll - scroll the page down and grab the data 
time.sleep(2)

html= driver.page_source

with open ("NBA_playerdata_Tableau/{}.html".format(year), "w+") as f: 
    f.write(html)

In [29]:
df1 = []

year= 2023

with open("NBA_playerdata_Tableau/{}.html".format(year)) as f:
    page = f.read()
soup = BeautifulSoup(page, "html.parser")
soup.find('tr', class_ = "thead").decompose()
player_table = soup.find(id="per_game_stats")
player = pd.read_html(str(player_table))[0]
player["Year"] = year

df1.append(player)

In [30]:
df1

[      Rk              Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  ORB  \
 0      1    Precious Achiuwa   C  23  TOR  39  11  23.0  3.8   8.0  ...  2.1
 1      2        Steven Adams   C  29  MEM  42  42  27.0  3.7   6.3  ...  5.1
 2      3         Bam Adebayo   C  25  MIA  57  57  35.0  8.4  15.7  ...  2.6
 3      4        Ochai Agbaji  SG  22  UTA  40   3  15.7  1.9   3.9  ...  0.7
 4      5        Santi Aldama  PF  22  MEM  57  18  21.9  3.3   7.0  ...  1.0
 ..   ...                 ...  ..  ..  ...  ..  ..   ...  ...   ...  ...  ...
 646  507  McKinley Wright IV  PG  24  DAL  20   1  10.3  1.2   2.5  ...  0.3
 647  508      Thaddeus Young  PF  34  TOR  50   9  15.5  2.1   3.8  ...  1.4
 648  509          Trae Young  PG  24  ATL  55  55  35.3  8.5  19.9  ...  0.7
 649  510         Cody Zeller   C  30  MIA   3   0  15.7  2.7   4.0  ...  1.7
 650  511         Ivica Zubac   C  25  LAC  60  60  29.4  4.0   6.5  ...  3.3

      DRB   TRB   AST  STL  BLK  TOV   PF   PTS  Year
 0    4.4   6.5   1.0  0.6  0.6  1.2  2.1  10.1  2023
 1    6.5  11.5   2.3  0.9  1.1  1.9  2.3   8.6  2023
 2    7.2   9.8   3.2  1.2  0.8  2.5  2.8  21.2  2023
 3    1.1   1.8   0.6  0.2  0.2  0.4  1.4   5.1  2023
 4    3.6   4.6   1.2  0.7  0.7  0.7  1.9   9.3  2023
 ..   ...   ...   ...  ...  ...  ...  ...   ...   ...
 646  1.0   1.3   1.9  0.4  0.2  0.6  0.9   2.9  2023
 647  1.8   3.2   1.5  1.1  0.1  0.8  1.7   4.8  2023
 648  2.2   2.9  10.1  1.0  0.2  4.1  1.5  27.1  2023
 649  1.0   2.7   1.0  0.3  1.0  0.7  3.0   6.3  2023
 650  6.8  10.1   1.1  0.4  1.3  1.7  3.0  10.2  2023

 [651 rows x 31 columns]]

In [31]:
player = pd.concat(df1)

In [32]:
player.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Precious Achiuwa,C,23,TOR,39,11,23.0,3.8,8.0,...,2.1,4.4,6.5,1.0,0.6,0.6,1.2,2.1,10.1,2023
1,2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,...,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6,2023
2,3,Bam Adebayo,C,25,MIA,57,57,35.0,8.4,15.7,...,2.6,7.2,9.8,3.2,1.2,0.8,2.5,2.8,21.2,2023
3,4,Ochai Agbaji,SG,22,UTA,40,3,15.7,1.9,3.9,...,0.7,1.1,1.8,0.6,0.2,0.2,0.4,1.4,5.1,2023
4,5,Santi Aldama,PF,22,MEM,57,18,21.9,3.3,7.0,...,1.0,3.6,4.6,1.2,0.7,0.7,0.7,1.9,9.3,2023

In [34]:
player.to_csv("player.csv")